.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

html {
  scroll-behavior: smooth;
}

body {
}

footer hr {
  border: 2px solid #60e600;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: #60e600;
  font-size: 1.2rem;
  padding: 30px 0;
}
